* {
    margin: 0;
    scrollbar-width: none;
    text-decoration: none;
    color: #e5e5e5;
    transition: rotate 0s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.body *{
    transition: all .3s ease;
}
.wrapper {
    height: 100vh;
    width: 100vw;
}

.mainbackground {
    width: 100%;
    object-fit: contain;
    position: sticky;
    left: 0;
    top: 0;
    z-index: -999;
}

.bg {
    height: max-content;
    width: 100%;
}

.shadow {
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(#0f0f0fff, #0f0f0f00);
}

.extra {
    background-color: #0f0f0f;
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: -500px;
}

.bottom {
    bottom: -200px;
    rotate: 180deg;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    height: 8vw;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 42%;
    margin-left: 40px;
}

.navlist {
    display: flex;
    font-size: 1.7vw;
    font-family: 'Inder', sans-serif;
    margin-right: 80px;
    transition: font-size 0s;
}

.navlist li a, .navlist li .call{
    margin-left: 5vw;
}

.navlist li a:hover, .navlist li .call:hover {
    color: #ECCCA3;
}

.title {
    position: absolute;
    color: #e5e5e5;
    font-family: 'Inder', sans-serif;
    top: 345px;
    font-size: 50px;
    right: 100px;
}

.blurcontainer {
    font-family: 'Inder', sans-serif;
    height: 135px;
    width: 420px;
    background: #72727222;
    border-radius: 32px;
    color: #e5e5e5;
    position: absolute;
    top: 435px;
    font-size: 25px;
    right: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(8px);
}

.getstarted {
    height: 50px;
    width: 160px;
    position: absolute;
    top: 600px;
    right: 190px;
    border-radius: 100px;
    overflow: hidden;
}

.buttext {
    position: absolute;
    top: 0;
    line-height: 50px;
    text-align: center;
    width: 160px;
    left: 0;
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    color: #0f0f0f;
    z-index: 5;
}

.cover {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ECCCA3;
    top: 0px;
    left: -160px;
    z-index: 1;
}

.getstarted:hover {
    cursor: pointer;
    scale: 1.1;
}

.getstarted:hover .cover {
    left: 0;
}

.welcome {
    height: 100vh;
    width: 100vw;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -998;
    font-family: 'Kurale', sans-serif;
}

.welcome div {
    z-index: 0;
}

.welcometo {
    position: relative;
    font-size: 50px;
    color: #ECCCA3;
    top: 100px;
}

.descsub {
    position: relative;
    font-size: 40px;
    top: 100px;
}

.desc {
    position: relative;
    font-size: 28px;
    top: 150px;
    font-family: 'Lusitana', serif;
    text-align: center;
    padding: 90px;
}

.gotofeature {
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    height: 50px;
    width: 160px;
    color: #0f0f0f;
    position: relative;
    top: 170px;
    border-radius: 100px;
}

.gotofeature:hover {
    background-color: #ECCCA3;
    cursor: pointer;
    scale: 1.1;
}

.features {
    height: 100vh;
    width: 100vw;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -998;
    font-family: 'Kufam', sans-serif;
}

.featuretitle {
    position: relative;
    color: #ECCCA3;
    font-size: 35px;
    font-weight: 900;
    top: 30px;
}

.underline {
    position: relative;
    top: -8px;
    height: 5px;
    width: 100%;
    background-color: #ECCCA3;
}

.featuredesc {
    font-family: 'Gurajada', serif;
    font-size: 40px;
    position: relative;
    top: 70px;
}

.explore {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 500px;
    position: relative;
    top: 120px;
    width: 100vw;
}
.card {
    background-color: #313131AD;
    position: relative;
    height: 180px;
    width: 40%;
    border-radius: 30px;
    display: flex;
    padding: 15px 25px;
    overflow: hidden;
}
.circle{
    transition: all 0s;
    position: absolute;
    height: 150%;
    aspect-ratio: 1;
    background: radial-gradient(#ECCCA339, transparent, transparent);
    transform: translate(-50%, -50%);
    top: var(--y);
    left: var(--x);
    opacity: 0%;
    transition: opacity 0.2s ease;
}
.card:hover .circle{
    opacity: 100%;
}

.card img {
    position: relative;
    top: 5px;
    height: 40px;
}

.contentcontainer {
    margin-left: 30px;
}

.cardtitle {
    font-family: 'Gurajada', serif;
    font-size: 50px;
    line-height: 50px;
}

.cardcontent {
    margin-top: 20px;
    font-size: 21px;
    font-family: 'Hanuman', serif;
}

.cardin {
    height: 100vh;
    width: 100vw;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eccca3;
    font-family: "Kurale", serif;
}

.cardintitle {
    font-size: 40px;
    color: #ECCCA3;
}

.cardintitle .underline {
    height: 4px;
}

.backtotop {
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: #e5e5e5;
    bottom: 50px;
    left: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fixtext {
    color: #0f0f0f;
    font-size: 20px;
    font-weight: 900;
    z-index: 5;
}

.backtotop .fixcover {
    height: 100%;
    width: 100%;
    background-color: #ECCCA3;
    position: absolute;
    top: 40px;
    z-index: 0;
}

.backtotop:hover {
    scale: 1.1;
}

.backtotop:hover .fixcover {
    top: 0;
}

.calcontainer {
    height: 80vh;
    width: 80%;
    position: relative;

}
.ttcalcontainer {
    position: relative;
    width: 80%;
    max-height: 80vh;
    padding: 5px;
    color: #efefef;
    display: flex;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #252525;
}
footer{
    height: 40px;
    background: #252525;
    color: #fefefe;
    line-height: 40px;
    padding: 0 100px;
    text-anchor: middle;
}

.remaindercontainer {
    position: relative;
    width: 40%;
    max-height: 80vh;
    height: 80vh;
    min-height: 400px;
    padding: 30px;
    background: transparent;
    border: 2px solid #ECCCA3;
    border-radius: 10px;
    margin-top: 40px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .todo-input {
    flex: 1;
    outline: none;
    padding: 10px 10px 10px 20px;
    background-color: transparent;
    border: 2px solid #ECCCA3;
    border-radius: 30px;
    color: #eee;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .todo-input::placeholder {
    color: #bfbfbf;
  }
  
  .add-button {
    background-color: #efefef;
    color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }
  .add-button:hover{
    background-color: #ECCCA3;
    color: #efefef;
  }
  
  .empty-image {
    margin: 55px auto 0;
    display: block;
  }
  
  .todo {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313131AD;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 12px;
    border: 2px solid #ECCCA3;
    transition: all 0.2s ease;
  }
  
  .todo:first-child {
    margin-top: 0;
  }
  
  .todo:last-child {
    margin-bottom: 0;
  }
  
  .todo:hover {
    background-color:#ECCCA3;
  }
  
  .todo label {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #eee;
  }
  
  .todo span {
    padding-left: 20px;
    position: relative;
    cursor: pointer;
  }
  
  span::before {
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    margin-left: -30px;
    border-radius: 100px;
    border: 2px solid #efefef;
  }
  
  input[type='checkbox'] {
    visibility: hidden;
  }
  
  input:checked + span {
    text-decoration: line-through
  }
  
  .todo:hover input:checked + span::before, input:checked + span::before {
    background: url(./check.svg) 50% 50% no-repeat #09bb21;
    border-color: #09bb21;
  }
  
  .todo:hover span::before {
    border-color: #eee;
  }
  
  .todo .delete-btn  {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #eee;
    font-size: 24px;
  }
  .todos-container ul{
    position: relative;
    left: -30px;
  }
  
  .todos-container  {
    height: 80%;
    position: relative;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  
  .todos-container::-webkit-scrollbar-track  {
    background: rgb(247, 247, 247);
    border-radius: 20px;
    overflow: auto;
  }
  
  .todos-container::-webkit-scrollbar  {
    width: 0;
    overflow: auto;
  }
  
  .todos-container:hover::-webkit-scrollbar  {
    width: 7px;
    overflow: auto;
  }
  
  .todos-container::-webkit-scrollbar-thumb  {
    background: #d5d5d5;
    border-radius: 20px;
    overflow: auto;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .filter {
    color: #eee;
    padding: 5px 15px;
    border-radius: 100px;
    border: 2px solid #ECCCA3;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  .filter.active, .filter:hover {
    background-color: #ECCCA3;
  }
  
  .delete-all {
    display: flex;
    color: #eee;
    padding: 7px 15px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .delete-all:hover {
    border-radius: 5px;
    background-color: #ECCCA3;
  }

  .x{
    height: 20%;
  }
  .todo-date{
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid #ECCCA3;
    padding: 0 10px;
    margin: 0 10px 0 0;
}
.todo-date:focus{
    border-color: #ECCCA3;
    outline: none;
}